<form [formGroup] = "form" (ngSubmit) = "onSubmit()" class="form">
    <div class="mb-3">
    <input class="form-control" type="text" formControlName="title" placeholder="Enter Title" required>
  </div>
  <div class="mb-3">
    <input class="form-control" type="text" formControlName="category" placeholder="Enter Category" required>
  </div>
   <div class="mb-3">
    <textarea class="form-control" placeholder="Content" formControlName="content" required></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a (click) = 'onBack()' class="btn btn-danger">Cancel</a>
</form>