    <div class="form-class">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text"  [(ngModel)] = 'blog.blogTitle'  class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Blog Category</label>
            <input type="text" class="form-control" [(ngModel)] = 'blog.blogCategory'>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Blog Content</label>
            <textarea class="form-control" rows="8" [(ngModel)] = 'blog.blogContent'></textarea>
          </div>
          <div class="buttons">
            <button class="btn btn-primary" (click) = 'getBlogId()'>Save Blog</button>
            <a routerLink = '/' class="btn btn-danger">Cancel</a>
          </div>
         
     </div>
    